<div class="container">
  <h1 class="mt-3">Cocktails</h1>
  <ul class="list-unstyled">
    <% @cocktails.each do |cocktail| %>
      <li>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add a new cocktail", new_cocktail_path, class:"btn btn-primary mt-3 mb-5" %>
</div>
