<div class="container mt-3">
  <div class="d-flex">
    <div class="new-cocktail-form col-lg-5">
      <h1>
        Which cocktail would you like to add?
      </h1>
      <%= simple_form_for @cocktail do |f| -%>
        <%= f.input :name, placeholder:"Cocktail name" %>
        <%= f.button :submit, class:"btn btn-primary btn-block" %>
        <%= link_to "Back to cocktails", root_path, class:"btn btn-primary btn-block" %>
      <% end -%>
    </div>
    <div class="background-new col-lg-7">

    </div>
  </div>
</div>
